body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f8f8;
}

header {
  background: #d19fcd;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background: #df9ae5; 
  color: #fff;
  padding: 15px 20px;
  text-align: center;
}
.navbar{
    background-color: #df9ae5;
    margin: 0px;
}
.title {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 2rem;
        font-weight: bold;
      }
      header {
        position: relative;
      }

.logo {
  font-weight: bold;
}

nav a {
  color: #150b0b;
  margin: 0 10px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

nav a:hover {
  color: white;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

main {
  padding: 20px;
  background: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: 20px;
}

.form input, .form button {
  margin: 5px;
  padding: 8px;
}

button {
  background-color: #b35454;
    color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #aaa;
}

th, td {
  padding: 10px;
  text-align: center;
}